<div class="pokemon-list-wrapper" *ngIf="pokemonCards$ | async as cards">
  <div class="navigation">
    <select class="pokemon-select" (change)="changeFilteringType($event.target.value)">
      <option></option>
      <option
        *ngFor="let type of pokemonTypes$ | async"
        [appSetColorsForPokemonType]="type">
        {{type}}
      </option>
    </select>
  </div>
  <div class="pokemon-cards">
    <app-pokemon-list-element
      *ngFor="let card of cards | filterPokemonCardsByType: filteringType; trackBy: trackById"
      [pokemonCard]="card">
    </app-pokemon-list-element>
  </div>
</div>

