
<button (click)="incrementCounter()">couter ++</button>
<div class="counter"> {{ pokemonService.countObservable | async }} </div>
<div class="counter"> {{ pokemonService.countSubject | async }} </div>

<div class="pokemon-list-wrapper full-width" *ngIf="pokemonCards$ | async as cards">
  <div class="navigation">
    <div class="pokemon-form-element">
      <label> Filtering By Type </label>
      <select class="pokemon-select" (change)="changeFilteringType($event.target.value)">
        <option></option>
        <option
          *ngFor="let type of pokemonTypes$ | async"
          [appSetColorsForPokemonType]="type">
          {{type}}
        </option>
      </select>
    </div>
  </div>

  <div class="pokemon-cards">
    <app-pokemon-list-element
      *ngFor="let card of cards | filterPokemonCardsByType: filteringType; trackBy: trackById"
      [pokemonCard]="card">
    </app-pokemon-list-element>
  </div>
</div>

