<div class="details-container full-width">
  <form *ngIf="(pokemon$ | async) as pokemon"
        [formGroup]="form"
        class="pokemon-details">
    <span class="card-header full-width">
      <ng-container *ngIf="pokemon.nationalPokedexNumber as pokedexNumber; else utilityCard">
        #{{ pokedexNumber }}
      </ng-container>
      <ng-template #utilityCard>
        Utility Card
      </ng-template>
      <span>
        {{ pokemon.name }}
      </span>
    </span>

    <div class="pokemon-form-element full-width">
      <label> Rarity </label>
      <input type="text" formControlName="rarity" class="pokemon-input">
      <ng-container *ngIf="rarityControl.invalid">
        <span class="error" *ngIf="rarityControl.hasError('required')"> This field is required </span>
        <span class="error" *ngIf="rarityControl.hasError('maxlength')"> Limit: 20 chars </span>
      </ng-container>
    </div>

    <div class="pokemon-form-element full-width">
      <label> Set name </label>
      <input type="text" formControlName="set" class="pokemon-input">
      <ng-container *ngIf="setNameControl.invalid">
        <span class="error" *ngIf="setNameControl.hasError('required')"> This field is required </span>
        <span class="error" *ngIf="setNameControl.hasError('maxlength')"> Limit: 30 chars </span>
      </ng-container>
    </div>

    <ng-container *ngIf="pokemonTypes$ | async as pokemonTypes">
      <div *ngIf="formTypes"
           formArrayName="types"
           class="types-controls full-width">
        <div *ngFor="let item of formTypesControls" [formGroup]="item">
          <div class="pokemon-form-element">
            <label> {{ item.get('isMainType').value ? 'Main type' : 'Secondary type' }} </label>
            <select formControlName="type" class="pokemon-select">
              <option></option>
              <option *ngFor="let type of pokemonTypes"
                      [appSetColorsForPokemonType]="type"
                      [selected]="item.get('type').value === type">
                {{type}}
              </option>
            </select>
            <ng-container *ngIf="item.invalid">
              <span class="error"> This field is required </span>
            </ng-container>
          </div>
        </div>
      </div>
    </ng-container>

    <button class="pokemon-btn" [disabled]="form.invalid"> Update Card </button>
    <img [src]="pokemon.imageUrlHiRes" [alt]="pokemon.name">
  </form>
</div>


