@import "~src/scss/helpers";
@import "~src/scss/forms";

:host {
  width: 100%;
}

.details-container {
  padding-top: 30px;
  margin: 0 auto;
}

.pokemon-details {
  @include flex-column-centered;
}

.pokemon-btn {
  margin: 40px 0 40px 0;
}
