@import "./helpers";

.pokemon-form-element {
  @include flex-column;

  label{
    font-size: 21px;
    color: #ffffff;
    box-sizing: border-box;
    padding: 10px 16px 4px 16px;
  }

  .error {
    font-size: 21px;
    color: #ff5568;
    box-sizing: border-box;
    padding: 4px 0 12px 0;
  }
}

.pokemon-select,
.pokemon-input,
.pokemon-btn {
  height: 40px;
  width: 320px;
  outline: none;
  padding: 0 16px;
  font-family: 'Muli';
  font-size: 19px;
  box-sizing: border-box;

  @media (max-width: 400px) {
    width: 100%;
  }
}

.pokemon-select {
  cursor: pointer;
}

.pokemon-input {
  cursor: text;
}

.pokemon-btn {
  cursor: pointer;

  &[disabled] {
    cursor: not-allowed;
  }

  &--small{
    width: 140px;
    height: 30px;
    font-size: 16px;
  }
}
